<?xml version="1.0" encoding="UTF-8"?>
{% if page.type == 'lesson' %}
  {% capture title %}{{ 'Lesson' }}{% endcapture %}
{% else %}
  {% capture title %}{{ site.data.issue.toc[page.author].article }}{% endcapture %}
{% endif %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en">
  <head>
    <title>{{ title }}</title>
    {% include css.html %}
  </head>
  <body>
    <h1>
      {{ title }}
      <span class="subheading">{{ site.data.issue.authors[page.author].name }}</span>
    </h1>
    {{ content }}
  </body>
</html>